{% load static %}
<!-- Page Title--><!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <title>S.H.E Organic Body & Skincare</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="{% static 'images/logo.ico' %}" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato:300i,400,400i,700%7CMontserrat:400,500,600,700%7CPlayfair+Display:400,700,700i%7COswald:400,700,700i">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/fonts/simple-line-icons/style.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    
    <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>
  </head>
  <body>
    <div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="{% static 'images/ie8-panel/warning_bar_0000_us.jpg' %}" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <div class="preloader">
      <div class="preloader-body"> 
        <div class="cssload-jumping"><span></span><span></span><span></span><span></span><span></span></div>
      </div>
    </div>
    <div class="page">
      <!-- Page Header-->
      <header class="section page-header">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-classic" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="46px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
            <div class="rd-navbar-collapse-toggle rd-navbar-fixed-element-1" data-rd-navbar-toggle=".rd-navbar-collapse"><span></span></div>
            {% if user.is_authenticated %}
            <div class="rd-navbar-aside-outer rd-navbar-collapse">
              <div class="rd-navbar-aside">
                <div class="header-info">
                  <ul class="list-inline list-inline-md">
                     <li>
                      <div class="unit unit-spacing-xs align-items-center">
                        <div class="unit-left font-weight-bold">Opening Days: </div>
                        <div class="unit-body"> Mon - Sat</div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="social-block">
                  <ul class="list-inline">
                    <li><a class="icon fa-instagram" href="https://www.instagram.com/she_organic_bodyandskincare/"></a></li>
                    <li><a class="icon fa-whatsapp" href="https://www.whatsapp.com/catalog/27738836836/?app_absent=0"></a></li>
                  </ul>
                </div>
              </div>
            </div>
            {% else %}
            <div class="rd-navbar-aside-outer rd-navbar-collapse">
              <div class="rd-navbar-aside">
                <div class="header-info">
                  <ul class="list-inline list-inline-md">
                    <li>
                      <div class="unit unit-spacing-xs align-items-center">
                        <div class="unit-left font-weight-bold"><a href="{% url 'login' %}">Login</a></div>
                      </div>
                    </li>
                    <li>
                      <div class="unit unit-spacing-xs align-items-center">
                        <div class="unit-left font-weight-bold"><a href="{% url 'register' %}">Create Account</a></div>
                      </div>
                    </li>
                     <li>
                      <div class="unit unit-spacing-xs align-items-center">
                        <div class="unit-left font-weight-bold">Opening Days: </div>
                        <div class="unit-body"> Mon - Sat</div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="social-block">
                  <ul class="list-inline">
                    <li><a class="icon fa-instagram" href="https://www.instagram.com/she_organic_bodyandskincare/"></a></li>
                    <li><a class="icon fa-whatsapp" href="https://www.whatsapp.com/catalog/27738836836/?app_absent=0"></a></li>
                  </ul>
                </div>
              </div>
            </div>
            {% endif %}
            <div class="rd-navbar-main-outer">
              <div class="rd-navbar-main">
                <!-- RD Navbar Panel-->
                <div class="rd-navbar-panel">
                  <!-- RD Navbar Toggle-->
                  <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                  <!-- RD Navbar Brand-->
                  <div class="rd-navbar-brand"><a class="brand" href="/"><img src="{% static 'images/logo.png' %}" alt="" width="395" height="200"/></a></div>
                </div>
                <div class="rd-navbar-main-element">
                  <div class="rd-navbar-nav-wrap">
                    <!-- RD Navbar Nav-->
                    <ul class="rd-navbar-nav">

                      <li class="rd-nav-item active"><a class="rd-nav-link" href="/">Home</a>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="{% url 'about' %}">About</a>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="{% url 'contacts' %}">Contacts</a>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="{% url 'store' %}">Shop</a>
                      </li>
 
                      {% if user.is_authenticated %}
                        <li class="rd-nav-item"><a class="rd-nav-link" href="{% url 'logout' %}">LogOut</a>
                        </li>
                        <li class="rd-nav-item">
                            <a class="rd-nav-link" href="{% url 'customer_dashboard' user.customer.id %}">
                              <i class="icon-user success" style="font-size:16pt;"></i>
                            </a>
                        </li>
                      {% endif %}
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <!-- Swiper-->
      <section class="section swiper-container swiper-slider swiper-slider-1 slider-scale-effect" data-loop="false" data-autoplay="5500" data-simulate-touch="false" data-slide-effect="fade">
        <div class="swiper-wrapper">
          <div class="swiper-slide slide-bg-1">
            <div class="slide-bg swiper-white-filter" style="background-image: url(&quot;/static/images/bg-3.jpg&quot;)"></div>
            <div class="swiper-slide-caption section-md">
              <div class="container">
                <div class="row">
                  <div class="col-sm-10 col-lg-8 col-xl-7">
                    <h1 class="heading-decorate" data-caption-animate="fadeInUp" data-caption-delay="100">S.H.E Organic<br><span class="divider"></span>Body & Skincare
                    </h1>
                    <p class="lead" data-caption-animate="fadeInUp" data-caption-delay="250" style="color: black !important;">S.H.E Organic Body & Skin Care Produtcs are designed by a woman but dont loose your breath yet,men are catered for as well.S.H.E Organic Body & Skin Care is an organic,luxuary brand designed to help one relax at the same time help boost their skin.
                </p><a class="button button-primary" href="about" data-caption-animate="fadeInUp" data-caption-delay="450">Read more</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide slide-bg-2">
            <div class="slide-bg swiper-white-filter" style="background-image: url(&quot;/static/images/bg-4.jpg&quot;)"></div>
            <div class="swiper-slide-caption section-md">
              <div class="container">
                <div class="row">
                  <div class="col-md-10 col-lg-8 col-xl-7">
                    <h1 class="heading-decorate" data-caption-animate="fadeInUp" data-caption-delay="100">Experience the Best<br><span class="divider"></span>Body & Skincare
                    </h1>
                    <p class="lead" data-caption-animate="fadeInUp" data-caption-delay="250" style="color: black !important;">We offer good quality products for all skin types for both men and women.</p><a class="button button-primary" href="about" data-caption-animate="fadeInUp" data-caption-delay="450">Read more</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Swiper Pagination-->
        <div class="swiper-pagination"></div>
        <div class="swiper-counter"></div>
        <!-- Swiper Navigation-->
        <div class="swiper-button-prev">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="17px" height="30px" viewbox="0 0 17 30" enable-background="new 0 0 17 30" xml:space="preserve">
            <g>
              <defs>
                <rect id="SVGID_111_" width="17" height="30"></rect>
              </defs>
              <clippath id="SVGID_2222_">
                <use xlink:href="#SVGID_111_" overflow="visible"></use>
              </clippath>
              <line clip-path="url(#SVGID_2222_)" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="8.5" y1="0.833" x2="8.5" y2="29.167"></line>
              <polyline clip-path="url(#SVGID_2222_)" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="									    16.15,20.833 8.5,29.167 0.85,20.833 	"></polyline>
            </g>
          </svg>
        </div>
        <div class="swiper-button-next">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="17px" height="30px" viewbox="0 0 17 30" enable-background="new 0 0 17 30" xml:space="preserve">
            <g>
              <defs>
                <rect id="SVGID_1_" width="17" height="30"></rect>
              </defs>
              <clippath id="SVGID_2_">
                <use xlink:href="#SVGID_1_" overflow="visible"></use>
              </clippath>
              <line clip-path="url(#SVGID_2_)" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="8.5" y1="29.167" x2="8.5" y2="0.833"></line>
              <polyline clip-path="url(#SVGID_2_)" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="									    0.85,9.167 8.5,0.833 16.15,9.167 	"></polyline>
            </g>
          </svg>
        </div>
      </section>
      <section class="section section-lg bg-gray-100">
        <div class="container">
          <div class="row row-50 align-items-lg-center justify-content-xl-between">
            <div class="col-lg-6 text-center">
              <div class="block-parallax-element"><span class="prev-element" data-parallax-scroll="{&quot;y&quot;: -30, &quot;x&quot;: 0,  &quot;smoothness&quot;: 50 }"></span><img src="{% static 'images/bg-2.jpg' %}" alt="products" width="378" height="463"/><span class="next-element" data-parallax-scroll="{&quot;y&quot;: 30, &quot;x&quot;: 0,  &quot;smoothness&quot;: 50 }"></span>
              </div>
            </div>
            <div class="col-lg-6 col-xl-5">
              <h2 class="heading-decorate">Why Our Clients <br><span class="divider"></span>Choose Us
              </h2>
              <p class="big text-gray-800">We are an affordable luxury organic body & skincare store, give our clients the best service and products and We believe in giving our clients quality over quantity</p>
              <p class="text-spacing-60">"If it doesn't nourish your skin and soul, let it go!"</p>
            </div>
          </div>
        </div>
      </section>
      <section class="section section-md bg-default text-center">
        <div class="container">
          <h2>Our Products</h2>
          <div class="divider-lg"></div>
          <p class="block-lg"></p>
        </div>
        <div class="container">
          <div class="row row-20">
            <div class="col-12">
              <!-- Owl Carousel-->
              <div class="owl-carousel owl-carousel-center" data-items="1" data-md-items="3" data-xl-items="5" data-dots="false" data-nav="true" data-stage-padding="0" data-loop="true" data-margin="0" data-mouse-drag="false" data-center="true" data-autoplay="true">
                <div class="team-minimal">
                  <figure><img src="{% static 'images/pro1.png' %}" alt="" width="370" height="370"></figure>
                  <div class="team-minimal-caption">
                    <h5 class="team-title">Coffee in the Morning Body Exfoliant</h5>
                    <p>200ml for R250</p>
                  </div>
                </div>
                <div class="team-minimal">
                  <figure><img src="{% static 'images/pro3.png' %}" alt="" width="370" height="370"></figure>
                  <div class="team-minimal-caption">
                    <h5 class="team-title">Hello Sunshine Body Exfoliant</h5>
                    <p>200ml for R200</p>
                  </div>
                </div>
                <div class="team-minimal">
                  <figure><img src="{% static 'images/pro4.png' %}" alt="" width="370" height="370"></figure>
                  <div class="team-minimal-caption">
                    <h5 class="team-title">Botanical Gardens Bath Soak</h5>
                    <p>200g for R180</p>
                  </div>
                </div>
                <div class="team-minimal">
                  <figure><img src="{% static 'images/pro5.jpg' %}" alt="" width="370" height="370"></figure>
                  <div class="team-minimal-caption">
                    <h5 class="team-title">Spicy Oatmeal Latte Bath Soak</h5>
                    <p>200g for R180</p>
                  </div>
                </div>
                <div class="team-minimal">
                  <figure><img src="{% static 'images/pro6.jpg' %}" alt="" width="370" height="370"></figure>
                  <div class="team-minimal-caption">
                    <h5 class="team-title">Soft Linen Luxury Hand & Body Cream </h5>
                    <p>500ml for R180</p>
                  </div>
                </div>
                <div class="team-minimal">
                  <figure><img src="{% static 'images/pro7.jpg' %}" alt="" width="370" height="370"></figure>
                  <div class="team-minimal-caption">
                    <h5 class="team-title">Hello Sunshine Handcrafted soaps</h5>
                    <p>50g for R30 / 100g for R50</p>
                  </div>
                </div>
                <div class="team-minimal">
                  <figure><img src="{% static 'images/pro8.jpg' %}" alt="" width="370" height="370"></figure>
                  <div class="team-minimal-caption">
                    <h5 class="team-title">Oatmeal & Rooibos Latte Handcrafted Soap</h5>
                    <p>50g for R40 / 100g for R70</p>
                  </div>
                </div>
                <div class="team-minimal">
                  <figure><img src="{% static 'images/pro9.jpg' %}" alt="" width="370" height="370"></figure>
                  <div class="team-minimal-caption">
                    <h5 class="team-title">Fluffy Clouds Luxury Hand & Body Cream</h5>
                    <p>500ml for R160</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12"><a class="button button-primary" href="{% url 'store' %}">Order</a></div>
          </div>
        </div>
      </section>
      <!-- Page Footer--> 
      <section class="section"></section>
      <section class="bg-gray-100 section-xs text-center">
        <div class="container">
          <p class="rights"><span>&copy;&nbsp;</span><span class="copyright-year"></span>. All Rights Reserved.  Design by <a href="https://www.templatemonster.com">TemplateMonster</a></p>
        </div>
      </section>
    </div>
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- Javascript-->
    <script src="{% static 'js/core.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>